/* reset star */
*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset end */
/* 744 1388  1024 1920 */
body{
    background-color: rgb(184, 255, 113);
}
header{
    background-color: #001E00;
    padding: 1em;
    margin: 1em;
    border-radius: 50% 10% / 20% 40%;
}
.navbar{
    text-align: center;
}
.navbar li{
    display: inline-block;
    margin: 5px;
}
.navbar-inicio  a{
    padding: 0.2em;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    color: rgb(184, 255, 113);
    font-size: 3.5rem;
}
.navbar-inicio a:link, a:visited, a:hover, a:active{
    border:none;
    text-decoration: none;
    color: rgb(184, 255, 113);
    background-color: transparent;
}
.navbar a{
    font-weight:600;
}
a:link, a:visited {
    background-color: white;
    color: rgb(0, 141, 0);
    border: 2px solid rgb(0, 255, 0);
    text-decoration: none;
}
a:hover, a:active {
    background-color: rgb(0, 255, 0);
    color:white;
} 
p{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-align: center;
}
h2   {
    font-family: Arial, Helvetica, sans-serif;
}
.section{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display:flex;
    gap: 3rem;
    justify-content: center;
}
.concept{
    margin-left: auto;
    margin-right: auto;
    /* width: 300px; */
}
h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}
h2{
    text-align: center;
    color: rgb(0, 141, 0);
    font-weight: 800;
    font-size: 3rem;
}
.line{
    display: flex;
    height: 80px;
    border:solid 2px black;
    align-items: center;
    min-width:400px;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.line-1{
    justify-content: flex-start;
}
.line-2{
    justify-content: flex-end;
}
.line-3{
    justify-content: space-between;
}
.line-4{
    justify-content: space-around;
}
.line-5{
    justify-content: center;
}
.line-6{
    justify-content: space-evenly;
}
.square{
    width: 60px;
    height: 60px;
    border: dashed 1px gray;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.1em;
}
.square-1{
    background-color: blue;
}
.square-2{
    background-color:aqua;
}
.square-3{
    background-color:red;
}
.square-4{
    background-color:rgb(0, 255, 0);
}
footer{
    background-color:rgb(0, 255, 0);
    text-align: center;
}